.headerSection {
    overflow: hidden;
    display: block;
}

.navLi:hover {
    background-color: #9c0d0d;
    border-radius: 4px;
}

.navbar {
    border-bottom: 4px solid #3395FF;
    background: #343A40;
}

.navbar-brand {
    font-size: 18px !important;
}

#navbarNav > ul > li > a:hover {
    color: orange;
}

.nav-item {
    margin: 2px;
    font-size: 18px;
}

.nav-link {
    color: #ffffff !important;
}


